<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="log-path">D:/Translator/Log/</Property>
	</Properties>

	<Appenders>

		<!-- Console Appender -->
		<Console name="Console" fileName="${log-path}/translator.log">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] [Thread-%tid] %-5level %logger{36} %X{RRN},  %M:%L >> %msg%n" />
		</Console>

		<RollingFile name="RollingFileAppender" fileName="${log-path}/translator.log"
			filePattern="${log-path}/$${date:yyyy-MM}/cclp-spil-%d{MM-dd-yyyy}-%i.log.zip">
			<!-- <PatternLayout> <Pattern>%d [%t] %p %c - %m%n</Pattern> </PatternLayout> -->
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] [Thread-%tid] %-5level %logger{36} %X{RRN}, %M:%L >>  %msg%n " />
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>

		<RollingFile name="DaoRollingFileAppender" fileName="${log-path}/translator-dao.log"
			filePattern="${log-path}/$${date:yyyy-MM}/cclp-spil-dao-%d{MM-dd-yyyy}-%i.log.zip">
			<!-- <PatternLayout> <Pattern>%d [%t] %p %c - %m%n</Pattern> </PatternLayout> -->
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] [Thread-%tid] %-5level %logger{36} %X{RRN}, %M:%L >>  %msg%n " />
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>


	</Appenders>
	<Loggers>
		<Logger name="com.fss.translator.dao" level="info" additivity="false">
			<AppenderRef ref="DaoRollingFileAppender" />
		</Logger>
		<Logger name="com" level="info" additivity="false">
			<AppenderRef ref="RollingFileAppender" />
		</Logger>
		<Root level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>